{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container">
    <div class="text-center">
        <form method="POST" class="form-inline text-cente" role="form">
            <div class="form-group">
                {{ form.csrf_token }}
                {{ form.keyword.label }} {{ form.keyword(size=20,class="form-control input-lg", placeholder="e.g. Trump, Apple, UKraine") }}
            </div>
            <input type="submit" value="search" class="btn btn-primary btn-lg">
        </form>
    </div>

     {{ macro.displayNews(response) }}
</div>
{% endblock %}