{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <form method="POST" class="form-inline" role="form">
            <div class="form-group">
                {{ form.csrf_token }}
                {{ form.name.label }} {{ form.name(size=20,class="form-control input-lg", placeholder="e.g. Trump, Apple, UKraine") }}
            </div>
            <input type="submit" value="search" class="btn btn-primary btn-lg">
        </form>
    </div>
</div>
{% endblock %}